button {
  position: absolute;
  top: 32vh;
  left: 15vw;
  margin: 15px 0 0 0;
  width: 20vw;
  cursor: pointer;
  background-color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 100;
  color: whitesmoke;
  padding: 12px 25px;
  border-radius: 10px;
  border: none;
  outline: none;
  -webkit-box-shadow: 1px 1px 8px black, -1px -1px 8px grey;
  box-shadow: 1px 1px 8px black, -1px -1px 8px grey;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: #3f4c6b;
}

button:hover {
  -webkit-box-shadow: 1px 1px 6px black, -1px -1px 6px grey,
    inset 0 0 5px #323232;
  box-shadow: 1px 1px 6px black, -1px -1px 6px grey, inset 0 0 5px #323232;
}

button:active {
  background-color: #323232;
  -webkit-box-shadow: 0 0 0 black, 0 0 0 grey, inset 1px 1px 5px black,
    inset -1px -1px 5px grey;
  box-shadow: 0 0 0 black, 0 0 0 grey, inset 1px 1px 5px black,
    inset -1px -1px 5px grey;
}

.icon {
  position: absolute;
  top: 15px;
  margin: 0 10px;
  color: white;
  font-size: 0.9em;
  background: none;
}
